@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.link {
  display: block;
  position: relative;
  padding: 0.2rem 0;
  overflow: hidden;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2rem;
  text-decoration-color: lightgray;
  cursor: pointer;
  transition: text-decoration-color 300ms 300ms;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-image: linear-gradient(120deg, #80fa93, #8fbaf0);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0.15rem;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.link:hover,
.link:focus {
  text-decoration-color: transparent;
  transition: text-decoration-color 0ms;
}
