---
import { Image } from 'astro:assets';
import profileImage from '../images/profile.jpg';

import Layout from '../layouts/Layout.astro';
---

<Layout> 
	<Image class="rounded-full mb-8 w-24 h-24" src={profileImage} loading="eager" alt="Profile of me, taken in New Zealand" />
	<h1 class="text-4xl font-bold tracking-tight text-slate-700 mb-6">Consultant, tech lead and problem solver.</h1>
	<p class="text-base mb-4">Phil Lennon, a specialist Frontend &amp; UI Consultant with Full Stack development and leadership experience from Manchester, UK.</p>
	<p class="text-base mb-6">With 18 years working in tech, I can help build a team, processes and development culture from scratch or just quickly pitch in to build a new idea.</p>
	<p class="mb-4 text-slate-400"><a href="https://www.linkedin.com/in/frontendphil/"><i class="text-2xl fa-brands fa-linkedin" title="LinkedIn profile"></i></a><a href="https://bsky.app/profile/frontendphil.bsky.social"><i class="text-2xl ml-2 fa-brands fa-square-bluesky" title="Bluesky profile"></i></a></p>
	<p>Email: <a class="link" href="mailto:enquiry@phil.dev">enquiry@phil.dev</a></p>
</Layout>

<style>
	.link {
		background-image: linear-gradient(120deg, #80fa93, #8fbaf0);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: 100% .15rem;
		transition: background-size .2s ease-in;
	}
</style>