---
import { Image } from 'astro:assets';
import profileImage from '../assets/images/profile.jpg';

// TODO: Tailwind v4 has classes baked in for preserve-3d, rotate and backface-visibility. Use defaults when available
// TODO: Accessability improvements, ie keyboard navigation, respects motion preferences, etc
// TODO: Make work on mobile
---
<div class="js-audio w-24 h-24 mb-8 perspective-normal">
	<div class="js-audio-animation-parent relative duration-500 transform-gpu motion-reduce:hover:transform-none [transform-style:preserve-3d] hover:[transform:rotateY(180deg)]"> 
		<div class="js-audio-animation-profile absolute inset-0 [backface-visibility:hidden]">
			<Image class="rounded-full w-24 h-24" src={profileImage} loading="eager" alt="Profile of me, taken in New Zealand" />
		</div>
		<div class="js-audio-animation-audio absolute inset-0 w-24 h-24 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
			<button class="text-slate-600">
				<span class="js-audio-play js-audio-icon-play block"><i class="text-5xl fa-regular fa-play"></i></span>
				<span class="js-audio-icon-playing hidden"><i class="text-5xl fa-regular fa-volume"></i></span>
				<span class="js-audio-icon-played hidden"><i class="text-5xl fa-regular fa-game-console-handheld"></i></span>
			</button>

			<audio class="js-audio-element" preload='none'>
				<source src="/frontendphil.mp3" type="audio/mp3" />
			</audio>			
		</div>
	</div>
</div>

<style>
</style>

<script>
  	typeof window !== 'undefined' && document.addEventListener('DOMContentLoaded', function () {
		const containerEl = document.querySelector('.js-audio') as HTMLElement;

		if (!containerEl) {
			return;
		}		

		const audioEl = document.querySelector('.js-audio-element') as HTMLAudioElement;
		const buttonEl = document.querySelector('.js-audio-play') as HTMLElement;
		const animationParentEl = document.querySelector('.js-audio-animation-parent') as HTMLElement;
		const animationProfileEl = document.querySelector('.js-audio-animation-profile') as HTMLElement;
		const animationAudioEl = document.querySelector('.js-audio-animation-audio') as HTMLElement;
		const playIconEl = document.querySelector('.js-audio-icon-play') as HTMLElement;
		const playingIconEl = document.querySelector('.js-audio-icon-playing') as HTMLElement;
		const playedIconEl = document.querySelector('.js-audio-icon-played') as HTMLElement;

    	buttonEl.addEventListener('click', () => {
			playAudio();
		});

		const playAudio = () => {
			audioEl.play();			
			changeIcon();
		}

		const changeIcon = () => {
			// Set an animation lock while audio plays
			animationParentEl.classList.add('!transform-none');
			animationProfileEl.classList.add('hidden');
			animationAudioEl.classList.add('!transform-none');

			playIconEl.classList.remove('block');
			playIconEl.classList.add('hidden');

			playingIconEl.classList.remove('hidden');
			playingIconEl.classList.add('block');
	}

		const resetPlayer = () => {
			// Wait then remove animation lock
			setTimeout(function () {
				animationParentEl.classList.remove('!transform-none');
				animationProfileEl.classList.remove('hidden');
				animationAudioEl.classList.remove('!transform-none');

				playedIconEl.classList.remove('block');
				playedIconEl.classList.add('hidden');	

				playIconEl.classList.remove('hidden');
				playIconEl.classList.add('block');
			}, 2000);					
		}

		audioEl.addEventListener('ended', () => {
			playingIconEl.classList.remove('block');
			playingIconEl.classList.add('hidden');

			playedIconEl.classList.remove('hidden');
			playedIconEl.classList.add('block');

			resetPlayer();	
		});			
	});
</script>