---
import "../styles/global.css";
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>Phil Lennon (frontendphil) - A web Frontend and Full stack consultant, based in Manchester UK</title>
	</head>
	<body class="bg-zinc-50">
		<div class="container md:max-w-2xl md:mx-auto">
			<main class="px-4 py-8 mx-4 mb-8 mt-4 md:mt-20 md:px-16 md:py-24 bg-white">
				<slot />
			</main>
		</div>
	</body>

</html>

<style>
</style>
