---
import '@fontsource/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>frontendphil</title>
	</head>
	<body class="bg-zinc-50">
		<div class="flex flex-col h-screen justify-between">
			<main class="mx-4 px-4 py-8 mt-8 md:container md:max-w-2xl md:my-auto md:mx-auto md:mt-24 md:px-16 md:py-24 bg-white">
				<slot />
			</main>	
		</div>
	</body>

	<script src="https://kit.fontawesome.com/066e6c267d.js" crossorigin="anonymous"></script>
</html>

<style>
</style>
